services:
  backend:
    build: ./backend
    ports:
      - "5000:5001"
    environment:
      - NODE_ENV=development
      - MONGO_URI=mongodb://mongo:27017/dev
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    ports:
      - "3000:80"

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
